<nav>
  <div class="container-left">
    <p routerLink="/">La Gran Librería</p>
  </div>
  <div class="container-center">
    <a routerLink="/books">Libros</a>
    <a routerLink="/newbook">Añadir</a>
    <a routerLink="/about">Sobre Nosotros</a>
    <div *ngIf="!authService.isLoggedIn" class="users">
      <a routerLink="/register">Registrarse</a>
      <p>|</p>
      <a routerLink="/login">Iniciar Sesión</a>
    </div>
    <button *ngIf="authService.isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>
