.about {
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url("https://www.stanislauslibrary.org/images/button_catalog.jpg");
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .who {
    background-color: rgba(255, 255, 255, 0.837);
    text-align: center;
    padding: 10px;
    border-radius: 20px;

    h3 {
      font-size: 20px;
      color: rgb(62, 42, 16);
      padding-top: 20px;
      font-weight: bolder;
    }
    p {
      padding-top: 15px;
      font-size: 15px;
      line-height: 2;
    }
  }

  .our-library {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.837);
    padding: 10px;
    border-radius: 20px;
    h2 {
      color: rgb(62, 42, 16);
      text-align: center;
      padding-top: 15px;
      font-size: 20px;
      font-weight: bolder;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        padding-block: 15px;
        font-size: 15px;
        line-height: 2;
      }

      img {
        width: 400px;
        border: solid rgb(62, 42, 16);
        border-radius: 20px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.837);

    .who {
      p {
        font-size: 13px;
      }
    }

    .our-library {
      text-align: center;
      line-height: 2;

      .right {
        display: block;

        p {
          font-size: 13px;
        }

        img {
          width: 90%;
        }
      }
    }
  }
}
