<div class="register">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Registro de Usuario</h1>
      <label>
        Correo Electrónico *
        <input type="text" formControlName="email" />
      </label>
      <label>
        Contraseña *
        <input type="password" formControlName="password" />
      </label>
      <label>
        Nombre de Usuario
        <input textarea="text" formControlName="username" />
      </label>
      <label>
        Nombre
        <input type="text" formControlName="name" />
      </label>
      <label>
        Apellido
        <input type="text" formControlName="lastName" />
      </label>
      <h4>* Requerido</h4>
      <button>Registrarse</button>
    </form>
  </div>
</div>
