<div class="new-book">
  <div class="container">
    <h1>Editar libro</h1>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <label>
        Título *
        <input
          type="text"
          formControlName="name"
          (change)="onFileChange($event)"
        />
      </label>
      <label>
        Imagen *
        <input type="text" formControlName="img" />
      </label>
      <label>
        Autor *
        <input type="text" formControlName="author" />
      </label>
      <label>
        Sinopsis
        <input textarea="text" formControlName="synopsis" />
      </label>
      <label>
        Fecha de Publicación
        <input type="date" formControlName="datePublication" />
      </label>
      <h4>* Requerido</h4>
      <button>Enviar</button>
    </form>
  </div>
</div>
